<h1 style="text-align: center; margin:10px;">Edit Article</h1>
<% if @article.errors.any? %>
    <h2>Article not saved because of the following reasons :</h2>
    <ul>
        <% @article.errors.full_messages.each do |msg| %>
            <li> <%= msg%> </li>
        <% end %>
    </ul>
<% end %>

<div style="display: flex; justify-content: center; min-height: 100vh; background-color: #f0f0f0;">
  <div class="card mt-5" style="width: 50%; height: 50vh; padding: 20px; background-color: #fff; text-align: left;">
    <%= form_with(model: @article, local: true) do |f| %>
      <div class="form-group mt-3">
        <%= f.label :title, class: "font-weight-bold" %>
        <p class="mt-3"></p>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group mt-3">
        <%= f.label :description, class: "font-weight-bold" %>
        <p class="mt-3"></p>
        <%= f.text_area :description, class: "form-control" %>
      </div>
      <div class="text-center mt-5">
        <%= f.submit "Submit", class: "btn btn-primary" %>
        <%= link_to 'Cancel and Return to all Articles', articles_path, class: "btn btn-secondary ml-2" %>
      </div>
    <% end %>
  </div>
</div>
