<h1 style="font-size: 30px; margin-top: 20px; text-align: center;">Showing Article</h1>

<div style="display: flex; justify-content: center; align-items: center; min-height: 88vh; margin: 0; background-color: #f0f0f0;">
  <div class="card" style="width: 50%; padding: 20px; text-align: left;">
    <h3 style="font-size: 30px; margin-bottom: 10px;">Title: <%= @article.title %></h3>
    <h3 style="font-size: 20px; margin-bottom: 10px; display: flex;">By: <%=link_to @article.user.username, @article.user, class:'nav-link' %></h3>
    <p style="font-size: 20px; margin-bottom: 20px;"><strong>Description:</strong> <%= @article.description %></p>
    <div style="display: flex; justify-content: space-between;">
      <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
        <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-primary' %>
        <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Delete?' }, class: 'btn btn-danger' %>
      <%end%>
        <%= link_to 'Return to all Articles', articles_path, class: 'btn btn-secondary' %>
        
    </div>
  </div>
</div>
